@include media-m {

    .tutorial {
        &__container {
            max-width: 510px;
            margin: $main-vertical-margin auto;
        }
    }

    .restaurants__cards-container {
        max-width: 560px;
        margin: 0 auto;
    }

}

@include media-l {
   .tutorial {

    &__container {
        max-width: 1024px;
        margin: $main-vertical-margin auto;
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        

    }

    &__step {
        width: 320px;
    }
   }

   
   
}