$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$primary-background-color: #f6f6f6;
$secondary-background-color: #eaeaea;

$main-horizontal-margin: 30px;
$main-vertical-margin: 60px;

$title-font-size: 1.8em;

$fonts: (
    "logo": 'Shrikhand',
    "title": 'Shrikhand',
    "text": 'Roboto'
);

@mixin center($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin box-shaddow {
    box-shadow: 3px 7px 8px lightgrey;
}