$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$primary-background-color: #f6f6f6;
$secondary-background-color: #eaeaea;



$fonts: (
    "logo": 'Shrikhand',
    "title": 'Shrikhand',
    "text": 'Roboto'
);

@mixin center($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}