$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$primary-background-color: #f6f6f6;
$secondary-background-color: #eaeaea;

$footer-background-color: #353535;

$main-horizontal-margin: 30px;
$main-vertical-margin: 60px;

$title-font-size: 1.8rem;

$fonts: (
    "logo": 'Shrikhand',
    "title": 'Shrikhand',
    "text": 'Roboto'
);

$font-weight: (
    "light": 400,
    "regular": 700
);

@mixin center($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin box-shaddow {
    box-shadow: 7px 7px 15px rgba(211, 211, 211, 0.651);
}

@mixin title-style {
    font-size: $title-font-size;
    font-family: map-get($fonts, text);
    text-align: left;
    margin-bottom: 30px;
}

@mixin transition-ease {
    transition: all 0.4s ease-in-out;
}

@mixin transition-button {
    transition: all 0.2s ease-in-out;
}

@mixin button-hover {
    opacity: 0.85;
    box-shadow: 7px 7px 15px rgba(192, 190, 190, 0.993);

}

@keyframes slideIn {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes loader {
    0% {
        visibility: visible;
    }

    100% {
        visibility: hidden;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@mixin media-s {
    @media all and (min-width: 375px) {
        @content;
    }
}

@mixin media-m {
    @media all and (min-width: 560px) {
        @content;
    }
}

@mixin media-l {
    @media all and (min-width: 1120px) {
        @content;
    }
}

